<section id="drum-machine" class="flex flex-col min-w-screen min-h-screen justify-center sm:rounded-lg bg-gainsboro" (keypress)="handleKeyPress($event)">
  <article id="display" class="flex flex-col p-8 mx-4 sm:w-3/4 lg:2/4 text-white sm:mx-auto rounded-lg bg-oldlace shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)_inset] border-[1px] border-solid border-gray-200">
    <div class="text-black flex items-center justify-center bg-goldenrod-300 rounded-md p-4">
      <h3 class="font-lemonada text-lg m-4 sm:text-4xl text-center ">{{message}}</h3>
    </div>
    <div class="flex flex-col sm:flex-row sm:space-x-4 my-8 space-y-4 sm:space-y-0">
      <div class="flex flex-col bg-goldenrod-300 w-full sm:w-2/4 p-2 sm:p-8 space-y-4">
        <app-key-btn [keys]="keys" [startSlice]="0" [endSlice]="3" (keyNotify)="handleKeyClick($event)"></app-key-btn>
        <app-key-btn [keys]="keys" [startSlice]="3" [endSlice]="8" (keyNotify)="handleKeyClick($event)"></app-key-btn>
        <app-key-btn [keys]="keys" [startSlice]="8" [endSlice]="keys.length" (keyNotify)="handleKeyClick($event)"></app-key-btn>
      </div>
      <div class="flex flex-col bg-goldenrod-300 w-full sm:w-2/4 p-8 space-y-4">
        <app-power-btn [toggle]="toggle" (toggleNotify)="handlePowerToggle($event)"></app-power-btn>
        <app-vol-slider [volume]="volume" (volumeNotify)="handleVolume($event)"></app-vol-slider>
      </div>
    </div>
  </article>