<section class="flex flex-col min-w-screen min-h-screen justify-center sm:rounded-lg bg-gainsboro">
  <article class="flex flex-col p-8 mx-4 sm:w-3/4 lg:2/4 text-white sm:mx-auto rounded-lg bg-oldlace shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)_inset] border-[1px] border-solid border-gray-200">
    <div
      class="leading-[100%] text-black flex items-center justify-center bg-goldenrod-300 rounded-md p-4"
    >
      <h2 class="font-lemonada text-6xl m-4">Drum Pressed</h2>
    </div>
    <div class="flex flex-col sm:flex-row sm:space-x-4 my-8 space-y-4 sm:space-y-0">
      <div class="flex flex-col bg-goldenrod-300 w-full sm:w-2/4 p-8 space-y-4">
        <h2 class="font-lemonada text-center text-black text-lg">Press a Button?</h2>
        <div class="flex bg-gray-100 align-middle justify-center">
          <button *ngFor="let key of keys.slice(0, 3)" class="bg-goldenrod-400 px-3 py-1 m-4 rounded-md">
            <span class="text-white text-2xl font-lemonada">
              {{ key }}
            </span>
          </button>
        </div>
        <div class="flex bg-gray-100 align-middle justify-center">
          <button *ngFor="let key of keys.slice(3, 8)" class="bg-goldenrod-400 px-3 py-1 m-4 rounded-md">
            <span class="text-white text-2xl font-lemonada">
              {{ key }}
            </span>
          </button>
        </div>
        <div class="flex bg-gray-100 align-middle justify-center">
          <button *ngFor="let key of keys.slice(8)" class="bg-goldenrod-400 px-3 py-1 m-4 rounded-md">
            <span class="text-white text-2xl font-lemonada">
              {{ key }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </article>
  <div
  class="relative bg-gainsboro w-full overflow-hidden flex flex-col items-center justify-center py-[59px] px-[161px] box-border gap-[10px] text-center text-13xl text-white font-lemonada"
>
  <div
    class="relative rounded-mini bg-oldlace shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)_inset] box-border w-[800px] h-[500px] z-[0] border-[1px] border-solid border-gray-200"
  ></div>
  <div
    class="my-0 mx-[!important] absolute top-[297px] left-[596px] flex flex-col items-center justify-center gap-[10px] z-[1] font-font-awesome-5-brands"
  >
    <div
      class="relative rounded-lgi bg-goldenrod-300 w-[325px] h-[215px] z-[0]"
    ></div>
    <img
      class="absolute my-0 mx-[!important] top-[109px] left-[40px] w-[258px] h-[43px] z-[1]"
      alt=""
      src="/public/group-1.svg"
    />

    <div
      class="absolute my-0 mx-[!important] top-[50px] left-[50px] w-[171px] h-9 z-[2]"
    >
      <div
        class="absolute top-[0px] left-[66px] rounded-12xs bg-goldenrod-100 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.01)] w-[105px] h-9 mix-blend-multiply"
      ></div>
      <div
        class="absolute top-[4px] left-[71px] rounded-12xs bg-goldenrod-200 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.01)] w-[95px] h-7 mix-blend-lighten"
      ></div>
      <div
        class="absolute top-[6px] left-[74px] rounded-12xs bg-olive w-[89px] h-6 mix-blend-darken"
      ></div>
      <div
        class="absolute top-[6px] left-[74px] rounded-12xs bg-gray-300 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)_inset] w-[46px] h-6"
      >
      </div>
      <div
        class="absolute top-[8px] left-[87px] leading-[100%] flex items-center justify-center w-[18px] h-[18px]"
      >
        o
      </div>
      <div
        class="absolute top-[1px] left-[0px] text-base leading-[100%] font-lemonada text-black flex items-center justify-center w-[62px] h-[31px]"
      >
        Power
      </div>
    </div>
  </div>
  <img
    class="absolute my-0 mx-[!important] top-[105px] left-[221px] w-[700px] h-[139px] z-[2]"
    alt=""
    src="/public/group-2.svg"
  />

  <div
    class="absolute my-0 mx-[!important] top-[calc(50%_-_12px)] left-[calc(50%_-_340px)] w-[325px] h-[215px] z-[3] text-base"
  >
    <div
      class="absolute h-full top-[0px] right-[0px] bottom-[0px] w-[325px]"
    >
      <div
        class="absolute top-[0px] left-[0px] rounded-lgi bg-goldenrod-300 w-[325px] h-[215px]"
      ></div>
      <div
        class="absolute top-[calc(50%_-_39.5px)] left-[calc(50%_-_72.5px)] w-[150px] h-9"
      >
        <div
          class="absolute top-[calc(50%_-_18px)] left-[calc(50%_-_75px)] rounded-10xs bg-gray-100 w-[150px] h-9"
        ></div>
        <div
          class="absolute top-[calc(50%_-_12.5px)] left-[calc(50%_-_75px)] w-[150px] flex flex-row items-center justify-center gap-[15px]"
        >
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              Q
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              W
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            >
          </div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            >
          </div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              E
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute top-[calc(50%_+_4.5px)] left-[calc(50%_-_137.5px)] w-[277px] h-9"
      >
        <div
          class="absolute top-[0px] left-[0px] rounded-10xs bg-gray-100 w-[277px] h-9"
        ></div>
        <div
          class="absolute top-[calc(50%_-_13px)] left-[calc(50%_-_99.5px)] w-[200px] flex flex-row items-center justify-start gap-[20px]"
        >
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              A
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              S
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              D
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              E
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              F
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute top-[calc(50%_+_48.5px)] left-[calc(50%_-_137.5px)] w-[277px] h-9"
      >
        <div
          class="absolute top-[0px] left-[0px] rounded-10xs bg-gray-100 w-[277px] h-9"
        ></div>
        <div
          class="absolute top-[calc(50%_-_13px)] left-[calc(50%_-_99.5px)] flex flex-row items-center justify-center gap-[20px]"
        >
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              Z
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              X
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              C
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              V
            </div>
          </div>
          <div class="relative w-6 h-[25px]">
            <div
              class="absolute h-[92%] w-[95.83%] top-[8%] right-[0%] bottom-[0%] left-[4.17%] rounded-10xs bg-goldenrod-400 [filter:blur(4px)]"
            ></div>
            <div
              class="absolute h-[92%] w-[95.83%] top-[0%] right-[4.17%] bottom-[8%] left-[0%] rounded-10xs bg-goldenrod-400 shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)]"
            ></div>
            <div
              class="absolute h-[calc(100%_-_2px)] w-[calc(100%_-_12.5px)] top-[0px] left-[6px] leading-[100%] flex items-center justify-center"
            >
              B
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute top-[21px] left-[76px] leading-[100%] text-black flex items-center justify-center w-[180px] h-[30px]"
      >
        Press a Button?
      </div>
    </div>
  </div>
  <div
    class="absolute my-0 mx-[!important] top-[145px] left-[260px] text-[48px] leading-[100%] text-black flex items-center justify-center w-[617px] h-[69px] shrink-0 z-[4]"
  >
    Drum pressed
  </div>
</div>
</section>